In [1]:
import pandas as pd
import numpy as np

In [10]:
y_true = pd.read_csv(r'C:\Users\Admin\Desktop\UCA-2023\ML Algorithms\Pet Adoption Project\true_labels.csv')
# y_pred = pd.read_csv(r'C:\Users\Admin\Desktop\UCA-2023\ML Algorithms\Pet Adoption Project\results.csv')
y_pred = pd.read_csv(r'C:\Users\Admin\Downloads\results0304.csv')
y_true

     AdoptionSpeed
0                2
1                4
2                1
3                4
4                2
..             ...
495              3
496              1
497              4
498              4
499              4

[500 rows x 1 columns]

In [11]:
y_pred

     SVC   LR  KNN   BC   RF   GB  XGB  best rate
0    0.0  1.0  4.0  1.0  2.0  1.0    2        1.0
1    0.0  2.0  3.0  4.0  2.0  4.0    4        4.0
2    1.0  3.0  4.0  2.0  2.0  2.0    2        2.0
3    1.0  3.0  3.0  2.0  4.0  2.0    2        2.0
4    1.0  1.0  4.0  2.0  2.0  2.0    2        2.0
..   ...  ...  ...  ...  ...  ...  ...        ...
495  1.0  1.0  2.0  1.0  1.0  1.0    4        1.0
496  0.0  3.0  2.0  1.0  1.0  1.0    1        1.0
497  0.0  4.0  1.0  4.0  4.0  4.0    4        4.0
498  0.0  4.0  1.0  4.0  4.0  4.0    4        4.0
499  0.0  4.0  3.0  3.0  3.0  2.0    2        3.0

[500 rows x 8 columns]

In [12]:
# y_pred.rename(
#     columns={"2": "Model"},
#     inplace=True,
# )
# y_pred

In [13]:
# y_pred_bc = y_pred['best_model']
y_pred_bc = y_pred['LR']

In [14]:
y_true = y_true.values
y_pred_bc = y_pred_bc.values
# y_pred = y_pred.values

In [15]:
from sklearn.metrics import cohen_kappa_score

y_pred_int = [int(float(label)) for label in y_pred_bc]
y_true_int = [int(label) for label in y_true]

# Calculate the QWK
qwk = cohen_kappa_score(y_pred_int, y_true_int, weights='quadratic')
print("QWK score: ", qwk)

QWK score:  0.26201878860273353